@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div>
    <section class="w-full">
        <div class=" lg:h-[600px] lg:overflow-hidden lg:flex lg:justify-between bg-[#E7816B]" style="background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg'); background-repeat:no-repeat; background-size: cover">
            <div class="text-center pt-[80px] lg:pt-[145px] lg:text-left lg:ml-[95px]  w-[327px] md:w-[573px] lg:w-[725px] mx-auto text-white">
                <h1 class=" text-[32px] leading-[36px] font-[500] font-normal md:text-[48px] md:leading-[48px] ">Award-winning custom designs and digital branding solutions</h1>
                <p class="mt-[15px] text-[15px] text-normal font-[400] leading-[25px] md:text-[15px] md:leading-25px]">With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.</p>
                <button onclick="window.location.href='/Services'" class="mt-[24px] md:mt-[19px] text[15px] font-[500px] uppercase rounded-[8px] bg-white py-[17px] px-[18px] text-[#1D1C1E]">LEARN MORE</button>
            </div>
            <div class="h-[350px] md:h-[550px] lg:h-full overflow-hidden -mt-[50px] lg:mt-[8px]  mx-auto">
                <img src="~/assets/home/desktop/image-hero-phone.png" class="mx-auto lg:mx-[50px] lg:h-[800px] " />
            </div>
        </div>
    </section>

    <div class="w-[85%] mx-auto">
        <section class="w-full">
            <div class="mt-[120px] lg:h-[640px] lg:flex">

                <div class="lg:w-[50%] lg:h-full lg:mr-[30px] flex items-center justify-center h-[250px] md:h-[200px] text-center rounded-[15px] text-white mb-[24px]" style="background-image: url('/assets/home/mobile/image-web-design.jpg'); background-repeat:no-repeat; background-size: cover">
                    <div class="w-full">
                        <a asp-page="/Services" asp-route-id="web">
                            <h3 class="mb-[12px] leading-[36px] text-[28px] tracking-[1.4px]">WEB DESIGN</h3>
                            <p class="font-[500] text-[15px] uppercase tracking-[5px]">VIEW PROJECTS <img src="~/assets/shared/desktop/icon-right-arrow.svg" class="ml-[5px] inline align-baseline" /></p>
                        </a>
                    </div>
                </div>

                <div class="lg:w-[50%]">
                    <div class="flex items-center justify-center h-[250px] md:h-[200px] text-center rounded-[15px] text-white mb-[24px] lg:h-[48%]" style="background-image: url('/assets/home/mobile/image-app-design.jpg'); background-repeat:no-repeat; background-size: cover">
                        <div class="w-full">
                            <a asp-page="/Services" asp-route-id="app">
                                <h3 class="mb-[12px] leading-[36px] text-[28px] tracking-[1.4px]">APP DESIGN</h3>
                                <p class="font-[500] text-[15px] uppercase tracking-[5px]">VIEW PROJECTS <img src="~/assets/shared/desktop/icon-right-arrow.svg" class="ml-[5px] inline align-baseline" /></p>
                            </a>
                        </div>
                    </div>

                    <div class="flex items-center justify-center h-[250px] md:h-[200px] text-center rounded-[15px] text-white mb-[24px] lg:h-[48%]" style="background-image: url('/assets/home/mobile/image-graphic-design.jpg'); background-repeat:no-repeat; background-size: cover">
                        <div class="w-full">
                            <a asp-page="/Services" asp-route-id="graphic">
                                <h3 class="mb-[12px] leading-[36px] text-[28px] tracking-[1.4px]">GRAPHIC DESIGN</h3>
                                <p class="font-[500] text-[15px] uppercase tracking-[5px]">VIEW PROJECTS <img src="~/assets/shared/desktop/icon-right-arrow.svg" class="ml-[5px] inline align-baseline" /></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="lg:mt-[160px] lg:flex lg:justify-center">

                @foreach (var whyUsKey in Model.WhyUs.Keys)
                {
                    <div class="text-center md:text-left mb-[80px] md:flex md:justify-between lg:flex-col lg:text-center">
                        <div class="bg-[#F1F3F5] rounded-full mx-auto md:mx-0 h-[202px] w-[202px] md:mr-[50px] lg:mx-auto ">
                            <img src='~/assets/home/desktop/@Model.WhyUs[whyUsKey]["image"]' />
                        </div>
                        <div class="mt-[48px] lg:mt-[48px] md:flex md:items-center md:w-[70%] lg:w-full  md:mt-0 lg:px-[15px] lg:mx-auto">
                            <div>
                                <h3 class="text-[#333136] font-bold font-[500] leading-[26px] tracking-[5px] text-[20px] uppercase">@Model.WhyUs[whyUsKey]["name"]</h3>
                                <p class="mt-[32px] text-[#333136] text-[16px] font-[400] leading-[26px] font-normal">@Model.WhyUs[whyUsKey]["content"]</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

    </div>
</div>
