@page
@model Designo.Pages.LocationModel
@{
    ViewData["Title"] = "Location";
}

<div class="md:w-[85%] md:mx-auto">

    <div class="lg:flex lg:flex-row-reverse lg:justify-between mb-[50px] lg:mb-[32px]">
        <div class=" md:rounded-[15px] md:overflow-hidden md:mb-[20px] h-[326px] lg:h-auto lg:mb-0 w-full lg:w-[30%]" style="background-image: url('/assets/locations/desktop/image-map-canada.png'); background-repeat:no-repeat; background-size: cover; background-position: center"></div>
        <div class="md:rounded-[15px] md:overflow-hidden px-[24px] md:px-[75px] lg:px-[95px] py-[80px] bg-[#FDF3F0]  lg:w-[68%]" style="background-image: url('/assets/shared/desktop/bg-pattern-two-circles.svg'); background-repeat:no-repeat; background-size: cover">
            <div >
                <h3 class="text-[#E7816B] font-[500] text-[32px] leading-[36px] tracking-[5px] text-center md:text-left">Canada</h3>
                <div class="md:flex"> 
                    <p class="mt-[16px] text-[15px] text-[#333136] font-[400] leading-[25px] text-center md:text-left md:w-[50%]">
                        <span class="font-bold font-[700] "> Designo Central Office </span><br />
                        3886 Wellington Street <br />
                        Toronto, Ontario M9C 3J5
                    </p>
                    <p class="mt-[16px] text-[16px] text-[#333136] font-[400] leading-[25px] text-center md:text-left md:w-[50%]">
                        <span class="font-bold font-[700]">Contact</span><br />
                        P : +1 253-863-8967<br />
                        M : contact@designo.co
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="lg:flex lg:justify-between mb-[50px] lg:mb-[32px]">
        <div class=" md:rounded-[15px] md:overflow-hidden md:mb-[20px] h-[326px] lg:h-auto lg:mb-0 w-full lg:w-[30%]" style="background-image: url('/assets/locations/desktop/image-map-australia.png'); background-repeat:no-repeat; background-size: cover; background-position: center"></div>
        <div class="md:rounded-[15px] md:overflow-hidden px-[24px] md:px-[75px] lg:px-[95px] py-[80px] bg-[#FDF3F0] lg:w-[68%]" style="background-image: url('/assets/shared/desktop/bg-pattern-two-circles.svg'); background-repeat:no-repeat; background-size: cover">
            <div>
                <h3 class="text-[#E7816B] font-[500] text-[32px] leading-[36px] tracking-[5px] text-center md:text-left">Australia</h3>
                <div class="md:flex">
                    <p class="mt-[16px] text-[15px] text-[#333136] font-[400] leading-[25px] text-center md:text-left md:w-[50%]">
                        <span class="font-bold font-[700] ">Designo AU Office</span><br />
                        319 Balonne Street <br />
                        New South Wales 2443
                    </p>
                    <p class="mt-[16px] text-[16px] text-[#333136] font-[400] leading-[25px] text-center md:text-left md:w-[50%]">
                        <span class="font-bold font-[700]">Contact</span><br />
                        P : (02) 6720 9092<br />
                        M : contact@designo.au
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="lg:flex lg:flex-row-reverse lg:justify-between mb-[130px]">
        <div class=" md:rounded-[15px] md:overflow-hidden md:mb-[20px] h-[326px] lg:h-auto lg:mb-0 w-full lg:w-[30%]" style="background-image: url('/assets/locations/desktop/image-map-united-kingdom.png'); background-repeat:no-repeat; background-size: cover; background-position: center"></div>
        <div class="md:rounded-[15px] md:overflow-hidden px-[24px] md:px-[75px] lg:px-[95px] py-[80px] bg-[#FDF3F0] lg:w-[68%]" style="background-image: url('/assets/shared/desktop/bg-pattern-two-circles.svg'); background-repeat:no-repeat; background-size: cover">
            <div>
                <h3 class="text-[#E7816B] font-[500] text-[32px] leading-[36px] tracking-[5px] text-center md:text-left">United Kingdom</h3>
                <div class="md:flex">
                    <p class="mt-[16px] text-[15px] text-[#333136] font-[400] leading-[25px] text-center md:text-left md:w-[50%]">
                        <span class="font-bold font-[700] ">Designo UK Office</span><br />
                        13  Colorado Way <br />
                        Rhyd-y-fro SA8 9GA
                    </p>
                    <p class="mt-[16px] text-[16px] text-[#333136] font-[400] leading-[25px] text-center md:text-left md:w-[50%]">
                        <span class="font-bold font-[700]">Contact</span><br />
                        P : 078 3115 1400<br />
                        M : contact@designo.uk
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

